@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
body {
    margin: 0;
    /* background-image: url(img/dulcineia-dias-195000.jpg); */
    background-image: url(img/dulcineia-dias-195000.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .8));
}

p,
ul,
li {
    position: relative;
}

nav {
    text-align: center;
    padding: 40px 0 0;
    padding-bottom: 10px;
}

header {
    border: 1px solid #2a6be4;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    display: block;
    color: #222;
    border: 7px solid #2a6be4;
    border-radius: 10px;
    padding-bottom: 5px;
}

.topmenu>li {
    display: inline-block;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.topmenu>li>a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 3px;
}

.topmenu>li>a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}

.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
    background: black;
    color: white;
}

li {
    padding-bottom: 5px;
}

.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

.submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.intro_inner {
    display: flex;
    padding-top: 6.6rem;
    padding-bottom: 8rem;
    padding-right: 0;
    position: relative;
    border-bottom: 1px solid black
}

.intro_subtitle {
    color: var(--black);
    font-weight: 200;
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 1px;
    margin-top: 0;
}

.intro_title {
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2px;
    margin-top: 0;
}

.intro_text {
    color: var(--black);
    font-size: 1.7rem;
    opacity: 0.7;
}

.social {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
}

.social_link {
    margin-right: 0.75rem;
    text-decoration: none;
}

.social_link:hover {
    transform: translateY(-5px);
}

.btn:hover {
    background: black;
    color: white;
}

.intro_photo {
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 1;
    margin-bottom: 7rem;
    margin-right: 3rem;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 1rem;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.my_group {
    display: flex;
    position: relative;
    padding: 2px 1em 0 1em;
}

.name_title {
    align-items: center;
    text-align: center;
    padding: 1rem 1em 1rem 1em;
    position: relative;
}

figure.img {
    margin: 0;
    text-align: center;
    position: relative;
}

figcaption {
    text-align: center;
    display: flex;
}

@media (max-width: 1000px) {
    header {
        /* Меняем оси шапки, делая её вертикальной. */
        flex-direction: column;
        /* Выравнивание элементов шапки с начала (по левому краю). */
        align-items: flex-start;
    }
}

figure {
    display: inline-block;
    /* Выстраиваем по горизонтали */
    background: #0176e4;
    /* Цвет фона */
    padding: 10px;
    /* Поля */
    margin: 4px 1rem 1em 1em;
    /* Отступ справа */
    vertical-align: top;
    /* Выравниваем по верхнему краю */
    position: relative;
    border-radius: 15px;
}

figcaption {
    position: relative;
    text-align: center;
    /* Выравниваем по центру */
    font-size: 2rem;
}

figure.right figcaption {
    float: right;
    /* Добавляем текст справа */
    padding: 5px;
    /* Поля вокруг текста */
}

.group {
    text-align: center;
}

.img_students {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.img_diploma {
    height: 400px;
    width: 300px;
}

.video_y {
    justify-content: center;
    position: relative;
    text-align: center;
    margin-right: 2rem;
    margin-left: 3rem;
    text-align: center;
    /* Выравниваем по центру */
    font-size: 2rem;
}

iframe {
    padding-bottom: 10px;
    padding-top: 10px;
}

.news article {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 15px 7px;
    margin-bottom: 40px;
    position: relative;
}

.news article img {
    width: 340px;
    height: 225px;
    margin-right: 55px;
}

.news article .description {
    color: #0759a5;
    font-size: 20px;
    width: 760px;
}

.news article:nth-child(even) img {
    order: 1;
    margin-right: 0;
    margin-left: 55px;
}

table {
    width: auto;
    /* Ширина таблицы */
    border: 1px solid rgb(16, 89, 138);
    /* Рамка вокруг таблицы */
    border-collapse: collapse;
    margin: auto;
    /* Выравниваем таблицу по центру окна  */
    position: relative;
    padding-top: 10px;
    overflow-x: auto;
}

td,
th {
    text-align: center;
    /* Выравниваем текст по центру ячейки */
    border-bottom: 1px solid rgb(18, 67, 201);
    border: 3px solid #307ec7;
}

.button_youtube {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 90px 75px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
    height: 30px;
    width: 300px;
    position: relative;
    top: 267px;
    left: 70px;
    text-align: center;
}

.button_youtube:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

@media (max-width: 1200px) {
    .news article img {
        flex-shrink: 1;
    }
    .news article .description {
        flex-shrink: 2;
        width: 100%;
    }
}

@media (max-width: 991px) {
    .cards .card {
        margin-bottom: 80px;
    }
    .intro {
        margin-top: -5rem;
    }
    .intro_photo {
        width: 100%;
        position: relative;
    }
    .intro_inner {
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 5rem 0;
    }
}

@media (max-width: 768px) {
    .news article {
        flex-direction: column;
        align-items: center;
        padding: 50px 40px 60px;
        margin: 0 24px 70px;
    }
    .news article img {
        width: 100%;
        height: auto;
        max-height: 350px;
        margin-right: 0;
    }
    .news article .description {
        font-size: 25px;
    }
    .news article:nth-child(even) img {
        order: 0;
        margin-left: 0;
    }
    .slier_img_stud {
        width: 100%;
        height: auto;
        max-height: 350px;
    }
    .intro_photo {
        display: inline;
        padding-top: 30px;
        width: max-content;
        height: 350px;
        margin-bottom: 6rem;
    }
    .container {
        width: 350px;
    }
    .intro_content {
        margin-top: 0%;
        margin-bottom: 40px;
    }
}

@media (max-width: 400px) {
    .news article {
        flex-direction: column;
        align-items: center;
        padding: 50px 40px 60px;
        margin: 0 24px 70px;
    }
    .news article img {
        width: 100%;
        height: auto;
        max-height: 350px;
        margin-right: 0;
    }
    .news article .description {
        font-size: 25px;
    }
    .news article:nth-child(even) img {
        order: 0;
        margin-left: 0;
    }
    .slier_img_stud {
        width: 100%;
        height: auto;
        max-height: 350px;
    }
    .intro_photo {
        display: inline;
        padding-bottom: 30px;
        padding-top: 10px;
        margin: 0px;
        margin-right: 30px;
        height: 200px;
        width: 300px;
    }
    table {
        width: 20px;
        /* Ширина таблицы */
        border: 1px solid rgb(16, 89, 138);
        /* Рамка вокруг таблицы */
        border-collapse: collapse;
        margin: auto;
        /* Выравниваем таблицу по центру окна  */
        position: relative;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    body:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .8));
    }
    header {
        width: 100%;
        height: 100%;
    }
    .container {
        width: 305px;
    }
    .button_youtube {
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        transition: .5s;
        height: 30px;
        width: 300px;
        position: relative;
        top: 280px;
        left: 0px;
        text-align: center;
    }
    .intro_subtle {
        margin-top: 30px;
    }
}

@media (max-width: 300px) {
    .news article {
        flex-direction: column;
        align-items: center;
        padding: 50px 40px 60px;
        margin: 0 24px 70px;
    }
    .news article img {
        width: 100%;
        height: auto;
        max-height: 350px;
        margin-right: 0;
    }
    .news article .description {
        font-size: 25px;
    }
    .news article:nth-child(even) img {
        order: 0;
        margin-left: 0;
    }
    .slier_img_stud {
        width: 100%;
        height: auto;
        max-height: 350px;
    }
    .intro_photo {
        display: inline;
        padding-bottom: 30px;
        padding-top: 30px;
        margin: 0px;
    }
    table {
        width: 20px;
        /* Ширина таблицы */
        border: 1px solid rgb(16, 89, 138);
        /* Рамка вокруг таблицы */
        border-collapse: collapse;
        margin: auto;
        /* Выравниваем таблицу по центру окна  */
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    body:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: auto;
        /* background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .8)); */
    }
    header {
        width: 100%;
        height: 100%;
    }
    body {
        width: 100%;
        height: 100%;
    }
    .submenu {
        height: 100%;
        width: 100%;
        padding: 0%;
    }
    .name_title {
        position: relative;
    }
    .container {
        width: 320px;
    }
}


/*Slick слайдер*/

.slider {
    width: 60%;
    margin: 10px auto;
}

.slick-next:before {
    padding-left: 15px;
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: rgb(23, 115, 219);
    -webkit-font-smoothing: antialiased;
}

.slick-prev:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: rgb(23, 115, 219);
    -webkit-font-smoothing: antialiased;
}

.slider {
    padding-left: 20px;
}

.table-wrap {
    overflow-x: auto;
}

table.table-1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(16, 89, 138);
}

table.table-1 th,
table.table-1 td {
    text-align: left;
    padding: 8px;
    border: 1px solid rgb(16, 89, 138);
}

table.table-1 th {
    font-weight: bold;
}

.table-1 {
    border: 1px solid rgb(16, 89, 138);
}

.download_presentation {
    border: 1px solid #333;
    /* Рамка */
    display: flex;
    padding: 5px 15px;
    padding-left: 15px;
    /* Поля */
    text-decoration: none;
    /* Убираем подчёркивание */
    color: #000;
    /* Цвет текста */
    position: relative;
    align-content: center;
}

.download_presentation:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    /* Градиент */
    color: #a00;
}

.about_me {
    border: 1px solid #333;
    /* Рамка */
    display: flexbox;
    padding: 5px 15px;
    padding-left: 15px;
    /* Поля */
    text-decoration: none;
    /* Убираем подчёркивание */
    color: #000;
    /* Цвет текста */
    position: relative;
    align-content: center;
}

.main-block {
    width: 100%;
    max-width: 700px;
    height: 70px;
    display: flex;
    justify-content: center;
    /* Ставит дочерние элементы по центру по горизонтали */
    align-items: center;
    /* Ставит дочерние элементы по центру по вертикали */
    background: white;
}

.main-block__link {
    font-size: 20px;
    text-transform: uppercase;
    color: #252525;
    text-decoration: none;
}